*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#root{
  display: flex;
  justify-content: center;
  width: 100%;
}

.App{
  width: 800px;
}

.post,
form{
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
  justify-content: space-between;
}


